<div class='card'>
    <div class="card-header">
        <h1>{{pageTitle}}</h1>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Name: </div>
            <div class='col-md-2'>
                <input type='text' [(ngModel)]="Name"/>
            </div>
            <div class="col-md-2">
                <button class='btn btn-primary' (click)="GetSearchResultByName()">
                    Search by Name
                </button>
            </div>
        </div>
        <br/>
        <div class='row'>
            <div class='col-md-2'>AssociateID: </div>
            <div class='col-md-2'>
                <input type='text' [(ngModel)]="AssociateID"/>
            </div>
            <div class="col-md-2">
                <button class='btn btn-primary' (click)="GetSearchResultByAID()">
                    Search by ID
                </button>
            </div>
        </div>
        <br/>
        <div class='row'>
            <div class='col-md-2'>Skill: </div>
            <div class='col-md-2'>
                <input type='text' [(ngModel)]="SkillID"/>
            </div>
            <div class="col-md-2">
                <button class='btn btn-primary' (click)="GetSearchResultBySkill()">
                    Search by Skill
                </button>
            </div>
        </div>
        <br/>
        <div class='row'>
            <div class='col-md-2'>Mobile: </div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]="MobileNumber"/>
            </div>
        </div>
        <br/>
        <div class='row'>
            <div class='col-md-2'>email: </div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]="email"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            
        </div>
            <div class="col-md-2">
                <button class='btn btn-primary' (click)="GetSearchResult()">
                    Get All Details
                </button>
            </div>
            <div class="col-md-2">
                <button class='btn btn-primary' (click)="AddDetails()">
                    Add Skill Details
                </button>
            </div>
       
    </div>
    <div class='table-responsive'>
        <table class='table' *ngIf="AssociateSkills.length" >
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Associate ID</th>
                    <th>Skill</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
               <tr *ngFor="let item of filterAssociateSkills">
                
                   <td>{{item.name}}</td>
                   <td>{{item.associateID}}</td>
                   <td>{{item.skillID}}</td>
                   <td>{{item.mobileNumber}}</td>
                   <td>{{item.email}}</td>
                   <td>
                    <a [routerLink]="['/update',item.id]">
                        Update Skill
                    </a>
                   </td>
               </tr>
            </tbody>
        </table>
    </div>
</div>